.about{
	background:{
		color:#fff;
		size:cover;
	}
.agile {
    font-family: 'open sans';
    color: #e2112e;
    background: #fff;
    h1 {
        font-size: 80px;
        font-weight: bold;
        letter-spacing: -3px;
    }
    margin:50px auto 200px;
    .agile-text {
        background: rgba(255, 255, 255, .8);
        color: #555;
        font-size: 25px;
        font-weight: 100;
        width: 50%;
        position: relative;
        margin: -35px auto 0;
        padding: 20px;
        line-height: 150%;
       
    }

}

}