.main-counter {
	background:{
		image: url("../images/img1.jpg");
		size: cover;
		/* position: center; */
		repeat: no-repeat;
		color:#fff;
	} 
}

.counter-text {
	color: #fff;
    padding: 10em 20px;

    .number {
    	font-size:70px;
    	font-family:  $font-family-Source-Sans-light;
    }
}
