.main-counter {
	background:{
		//image: url("../images/img1.jpg");
		size: cover;
		/* position: center; */
		repeat: no-repeat;
		color:#fff;
	} 
}

.counter-text {
	color: #e2112e;
    padding: 10em 20px;
    font-family:'open sans';
    font-weight:100;

    .number {
    	font-size:70px;
    }
}
