#site-footer {
	background-image: url("../images/building.png");
	padding-top:45px;
	padding-bottom:100px;
	background-size:475px 100px;
	background-position:bottom;
	background-repeat:repeat-x;
	background-color:#202020;
}

#copyright {
	background:#000;
	padding-top:10px;
	padding-bottom:10px;
	color:#fff	;
}

.site1 {
	color:#fff;
	font-family:  $font-family-Source-Sans-light;


	li {
		list-style:none;
		font-size:25px;
	}

	h4 {
		font-size:30px;
		font-weight:bold;
		margin-bottom: 10px;
	}

	h5 {
		padding-top:10px;
		font-size:18px;

	
	}
	span {
		margin-left:15px;
		}
}

.site2 {
	color:#fff;
	font-family:  $font-family-Source-Sans-light;
	
	li {
		list-style:none;
		font-size:14px;
		margin-bottom: 4px;
	}

	li a {
		color:#fff;
	}

	a:hover {
    /* background-color: yellow; */
    color:#6a6a6a;
    text-decoration:none;
	}

	h4 {
		font-size:15px;
		font-weight:bold;
		letter-spacing: 2px;
	}

}
   #map {
                width: 100%;
                height: 500px;
            }