.graph {
    background: #fff;

}
    #svg {

        width: 30%;
        height: 80%;
        position: relative;
        -webkit-transform: translate3d(-50%, -50%, 0);
    }
    .breakpoint {
        -webkit-transform: scale(0);
        transform: scale(0);
        position: absolute;
        -webkit-transform-origin: 50% 50%;
    }
    .active {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    .numbers {
        float: left;
        list-style: none;
        li {
            margin: 50px;
        }
    }
    .name{
       list-style: none;
       li{
        position:relative;
       display:inline-block;
       margin:0 100px 0;
       color:#e2112e;
       }
    }
