
@font-face {
  font-family: 'Source-Light';
  src:url(../fonts/SourceSansPro-Light.eot);
  src:url(../fonts/SourceSansPro-Light.eot?#iefix) format("embedded-opentype"),url(../fonts/SourceSansPro-Light.woff) format("woff"),url(../fonts/SourceSansPro-Light.ttf) format("truetype"),url(../fonts/SourceSansPro-Light.otf) format("otf")
}


@font-face {
  font-family: 'Source-Regular';
  src:url(../fonts/SourceSansPro-Regular.eot);
  src:url(../fonts/SourceSansPro-Regular.eot?#iefix) format("embedded-opentype"),url(../fonts/SourceSansPro-Regular.woff) format("woff"),url(../fonts/SourceSansPro-Regular.ttf) format("truetype"),url(../fonts/SourceSansPro-Regular.otf) format("otf")
}


@font-face {
  font-family: 'Source-Bold';
  src:url(../fonts/SourceSansPro-Bold.eot);
  src:url(../fonts/SourceSansPro-Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/SourceSansPro-Bold.woff) format("woff"),url(../fonts/SourceSansPro-Bold.ttf) format("truetype"),url(../fonts/SourceSansPro-Bold.otf) format("otf")
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

