
@font-face {
  font-family: 'Source-Light';
  src:url(../fonts/SourceSansPro-Light.eot);
  src:url(../fonts/SourceSansPro-Light.eot?#iefix) format("embedded-opentype"),url(../fonts/SourceSansPro-Light.woff) format("woff"),url(../fonts/SourceSansPro-Light.ttf) format("truetype"),url(../fonts/SourceSansPro-Light.otf) format("otf")
}


@font-face {
  font-family: 'Source-Regular';
  src:url(../fonts/SourceSansPro-Regular.eot);
  src:url(../fonts/SourceSansPro-Regular.eot?#iefix) format("embedded-opentype"),url(../fonts/SourceSansPro-Regular.woff) format("woff"),url(../fonts/SourceSansPro-Regular.ttf) format("truetype"),url(../fonts/SourceSansPro-Regular.otf) format("otf")
}


@font-face {
  font-family: 'Source-Bold';
  src:url(../fonts/SourceSansPro-Bold.eot);
  src:url(../fonts/SourceSansPro-Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/SourceSansPro-Bold.woff) format("woff"),url(../fonts/SourceSansPro-Bold.ttf) format("truetype"),url(../fonts/SourceSansPro-Bold.otf) format("otf")
}

@font-face {
  font-family: 'Perpetua-Titling-MT-Light';
  src:url(../fonts/Perpetua-Titling-MT-Light.eot);
  src:url(../fonts/Perpetua-Titling-MT-Light.eot?#iefix) format("embedded-opentype"),url(../fonts/Perpetua-Titling-MT-Light.tff) format("tff"),url(../fonts/Perpetua-Titling-MT-Light.ttf) format("truetype"),url(../fonts/Perpetua-Titling-MT-Light.ttf) format("ttf")
}
@font-face {
  font-family: 'open-sans-SemiboldItalic';
  src:url(../fonts/OpenSans-SemiboldItalic.ttf);
}
@font-face {
  font-family: 'OpenSans-Semibold';
  src:url(../fonts/OpenSans-Semibold.ttf);
}
@font-face {
  font-family: 'OpenSans-Regular';
  src:url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: 'OpenSans-LightItalic';
  src:url(../fonts/OpenSans-LightItalic.ttf);
}
@font-face {
  font-family: 'OpenSans-Light';
  src:url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: 'OpenSans-ExtraBoldItalic';
  src:url(../fonts/OpenSans-ExtraBoldItalic.ttf);
}
@font-face {
  font-family: 'OpenSans-ExtraBold';
  src:url(../fonts/OpenSans-ExtraBold.ttf);
}
@font-face {
  font-family: 'OpenSans-BoldItalic';
  src:url(../fonts/OpenSans-BoldItalic.ttf);
}
@font-face {
  font-family: 'OpenSans-Bold';
  src:url(../fonts/OpenSans-Bold.ttf);
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

