$font-family-Source-Sans-light: 'Source-Light', sans-serif;
$font-family-Source-Sans-regular: 'Source-Regular', sans-serif;
$font-family-Source-Sans-bold: 'Source-Bold', sans-serif;
$font-family-Perpetua-light: 'Perpetua-Titling-MT-Light';
$font-family-open-sans:'open-sans-SemiboldItalic';
$open-sans-SemiboldItalic:'open-sans-SemiboldItalic';
$OpenSans-Semibold:'OpenSans-Semibold';
$OpenSans-Regular:'OpenSans-Regular';
$OpenSans-LightItalic:'OpenSans-LightItalic';
$OpenSans-Light:'OpenSans-Light';
$OpenSans-ExtraBoldItalic:'OpenSans-ExtraBoldItalic';
$OpenSans-ExtraBold:'OpenSans-ExtraBold';
$OpenSans-BoldItalic:'OpenSans-BoldItalic';
$OpenSans-Bold:'OpenSans-Bold';
$perpetua:'perpetua';
$perpetuaitalic:'perpetuaitalic';
