@font-face {
  font-family: 'Source-Light';
  src: url(../fonts/SourceSansPro-Light.eot);
  src: url(../fonts/SourceSansPro-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/SourceSansPro-Light.woff) format("woff"), url(../fonts/SourceSansPro-Light.ttf) format("truetype"), url(../fonts/SourceSansPro-Light.otf) format("otf");
}
@font-face {
  font-family: 'Source-Regular';
  src: url(../fonts/SourceSansPro-Regular.eot);
  src: url(../fonts/SourceSansPro-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/SourceSansPro-Regular.woff) format("woff"), url(../fonts/SourceSansPro-Regular.ttf) format("truetype"), url(../fonts/SourceSansPro-Regular.otf) format("otf");
}
@font-face {
  font-family: 'Source-Bold';
  src: url(../fonts/SourceSansPro-Bold.eot);
  src: url(../fonts/SourceSansPro-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/SourceSansPro-Bold.woff) format("woff"), url(../fonts/SourceSansPro-Bold.ttf) format("truetype"), url(../fonts/SourceSansPro-Bold.otf) format("otf");
}
@font-face {
  font-family: 'Perpetua-Titling-MT-Light';
  src: url(../fonts/Perpetua-Titling-MT-Light.eot);
  src: url(../fonts/Perpetua-Titling-MT-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/Perpetua-Titling-MT-Light.tff) format("tff"), url(../fonts/Perpetua-Titling-MT-Light.ttf) format("truetype"), url(../fonts/Perpetua-Titling-MT-Light.ttf) format("ttf");
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.banner-wrapper {
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
}
.banner-wrapper .icon-bar {
  display: flex;
  width: 36px;
  height: 1px;
  margin-top: 9px;
  background: #fff;
}
.banner-wrapper .nav-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: none;
  z-index: 9;
}
.banner-wrapper .navbar {
  padding-top: 80px;
}
.banner-wrapper .navbar a {
  display: block;
  width: 200px;
  height: 45px;
}
.banner-wrapper .navbar a.navbar-brand {
  background: url("../images/bat_white.png") no-repeat;
  background-size: cover;
}
.banner-wrapper .affix {
  padding-top: 20px;
  overflow: hidden;
  -moz-transition: padding 0.2s ease-in-out;
  -o-transition: padding 0.2s ease-in-out;
  -webkit-transition: padding 0.2s ease-in-out;
  transition: padding 0.2s ease-in-out;
}
.banner-wrapper .affix a {
  display: block;
  width: 200px;
  height: 45px;
}
.banner-wrapper .affix a.navbar-brand {
  background: url("../images/bat1-1.png") no-repeat;
  background-size: cover;
}
.banner-wrapper .affix .bar {
  background-color: #000;
}
.banner-wrapper .inner-content h1 {
  color: #fff;
  padding-bottom: 130px;
  padding-top: 245px;
  text-transform: uppercase;
  font-size: 75px;
  font-family: "Source-Light", sans-serif;
}
.banner-wrapper .inner-content .btn-arrow {
  margin-bottom: 430px;
  width: 39px;
  height: 39px;
}

/*

  JV jQuery Mobile Menu
  Author: Julius van der Vaart (http://juliusvaart.com)
  Version: 2

*/
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #1e1f24;
}

.page {
  width: 100%;
  min-height: 100%;
  background: #000;
  overflow: auto;
  position: relative;
}

.mobile-nav {
  padding-top: 150px;
  background: #1e1f24;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -moz-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}
.mobile-nav ul {
  display: block;
  margin: 0 auto;
  padding: 0;
}
.mobile-nav ul.social-media {
  width: 140px;
  padding-top: 30px;
}
.mobile-nav ul.social-media li {
  display: inline-block;
  margin: 5px;
  width: 20px;
}
.mobile-nav ul.social-media li a {
  margin: 0;
  color: #fff;
  font-size: 20px;
}
.mobile-nav ul li {
  list-style: none;
  text-align: center;
  margin: 20px 0;
}
.mobile-nav ul li a {
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Source-Light", sans-serif;
  color: #565654;
}
.mobile-nav ul li a:hover {
  color: #fff;
  text-decoration: none;
}

.hamburger {
  margin: 10px;
  padding: 10px 10px 9px;
  cursor: pointer;
  z-index: 999;
  display: block;
}
.hamburger .hamburger-inner {
  position: relative;
  height: 21px;
  width: 30px;
  display: block;
  margin: 0;
  padding: 0;
}
.hamburger .bar {
  width: 30px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 0;
}
.hamburger .bar.bar2, .hamburger .bar.bar3 {
  top: 9px;
}
.hamburger .bar.bar4 {
  top: 18px;
}
.hamburger.open .bar1,
.hamburger.open .bar4 {
  display: none;
}
.hamburger.open .bar2,
.hamburger.open .bar3 {
  height: 3px;
}

.entire-text {
  font-family: "Source-Light", sans-serif;
}

.col2 {
  margin-top: 85px;
}

.col2 h5 {
  font-size: 25px;
}

.col2 button {
  background-color: transparent;
  border-color: blue;
  padding: 5px 25px;
  border-style: solid;
  margin-top: 70px;
  font-family: "Source-Light", sans-serif;
  border-width: 0.1px;
}

.h1Projects h1 {
  vertical-align: bottom;
  margin-top: 100px;
  margin-right: 187px;
  margin-bottom: 120px;
  font-size: 15px;
  font-weight: bold;
  font-family: "Source-Light", sans-serif;
}

/*
hr {
  width: 75px;
  border-top: 2px solid #000;
  float:right;

}
*/
.inner-title {
  margin-right: 187px;
  font-family: "Source-Light", sans-serif;
}

.inner-title h2 {
  font-size: 40px;
  font-family: "Source-Light", sans-serif;
  font-weight: bold;
}

#main {
  background-color: #fff;
}

.main-counter {
  background-image: url("../images/img1.jpg");
  background-size: cover;
  /* position: center; */
  background-repeat: no-repeat;
  background-color: #fff;
}

.counter-text {
  color: #fff;
  padding: 10em 20px;
}
.counter-text .number {
  font-size: 70px;
  font-family: "Source-Light", sans-serif;
}

#sliders {
  background: #202020;
}

.slider {
  position: relative;
  width: 1200px;
  height: 300px;
  overflow: hidden;
  margin: 0 auto;
  background: #202020;
}

.slider > .widget {
  position: relative;
  width: 99999999px;
  height: 450px;
  white-space: nowrap;
}

.slider > .widget.do-slide {
  animation-name: do-slide;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

.slider > .widget.backwards-slide {
  animation-name: do-slide;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-duration: 0.5s;
  animation-direction: reverse;
  animation-timing-function: ease-in;
}

.slider > .widget > li {
  position: relative;
  width: 1200px;
  height: 300px;
  list-style: none;
  padding: 3em;
  color: #fff;
  font-family: "Source-Light", sans-serif;
  white-space: normal;
}

.slider > .widget > li > h5 {
  font-size: 25px;
}

.slider > .widget > li > h5 > .quote {
  font-size: 150px;
  font-family: "Perpetua-Titling-MT-Light";
  margin: 0;
  padding: 0;
  position: relative;
  top: 80px;
  line-height: 0;
  color: rgba(106, 106, 106, 0.2);
  margin-left: 10px;
}

span.spans {
  font-family: "Source-Light", sans-serif;
  color: #6a6a6a;
}

.slider > .widget > li > credit {
  font-size: 10px;
  margin-left: 560px;
  margin-top: 560px;
  color: #c1c1c1;
  font-family: "Source-Light", sans-serif;
}

.slider > .controls > .bottom {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px 25%;
  text-align: center;
}

.slider > .controls > .bottom > label {
  font-size: 14px;
  letter-spacing: 2px;
  position: relative;
  top: 30px;
  right: 140px;
  background: #202020;
  padding: 0 15px;
  color: #6a6a6a;
  opacity: 1;
}

.slider > .controls > .bottom > hr.slider-line {
  float: none;
  display: block;
  margin: 13px 0;
  height: 1px;
  background: transparent;
  border: none;
  width: 560px;
  padding-bottom: 50px;
  border-top: 1px solid #6a6a6a;
}

@keyframes do-slide {
  0% {
    left: 0;
  }
  100% {
    left: -1000px;
  }
}
.projects {
  background-color: #fff;
}

#thumbnail-slider {
  margin: 0 auto;
  /*center-aligned*/
  width: 100%;
  display: block;
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
}

#thumbnail-slider div.inner {
  /*the followings should not be changed */
  position: relative;
  overflow: hidden;
  padding-top: 200px;
  margin: 0 auto;
  display: block;
}

#thumbnail-slider div.inner ul {
  /*the followings should not be changed */
  white-space: nowrap;
  position: relative;
  list-style: none;
  font-size: 0;
  padding: 0;
  margin: 0 auto;
  width: auto !important;
  height: auto !important;
}

#thumbnail-slider ul li {
  display: block;
  -moz-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -webkit-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
  -moz-transform: all ease-in-out 0.5s;
  -ms-transform: all ease-in-out 0.5s;
  -webkit-transform: all ease-in-out 0.5s;
  transform: all ease-in-out 0.5s;
  box-sizing: content-box;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  backface-visibility: hidden;
}
#thumbnail-slider ul li:first-child {
  margin-top: 100px;
}
#thumbnail-slider ul li:last-child {
  margin: 0;
  padding: 0;
}
#thumbnail-slider ul li .inner-title {
  position: absolute;
  top: 30%;
  left: 25%;
  color: #fff;
  margin: 0;
  padding: 0;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#thumbnail-slider ul li .inner-title h3 {
  font-size: 50px;
}
#thumbnail-slider ul li .inner-title p {
  font-size: 20px;
  visibility: hidden;
}
#thumbnail-slider ul li .inner-title hr.line {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  width: 500px;
  visibility: hidden;
}
#thumbnail-slider ul li:hover {
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#thumbnail-slider ul li:hover p {
  visibility: visible;
}
#thumbnail-slider ul li:hover hr.line {
  visibility: visible;
}

#thumbnail-slider ul li.active {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
  /*Note: if scale is greater than 1, the margin-top and margin-bottom in the selector "#thumbnail-slider li" must be set with a sufficient value so the enlarged image will be shown within the margins.*/
  margin: 170px 0;
}

#thumbnail-slider .thumb {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  font-size: 0;
  overflow: hidden;
  cursor: inherit;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#thumbnail-slider .thumb:hover:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0.6;
}

.shortcut-link {
  position: relative;
  bottom: 160px;
  background: #fff;
}
.shortcut-link a {
  color: #000;
  text-transform: uppercase;
}
.shortcut-link a.btn-contact {
  font-size: 25px;
}
.shortcut-link a.btn-contact .fa {
  font-size: 20px;
  margin-left: 10px;
}
.shortcut-link a.btn-home, .shortcut-link a.btn-services {
  font-size: 18px;
}
.shortcut-link a.btn-home .fa, .shortcut-link a.btn-services .fa {
  font-size: 20px;
  margin-right: 10px;
}
.shortcut-link a.btn-services .fa {
  font-size: 20px;
  margin-left: 10px;
}
