.about {
    background: {
        color: #fff;
    }
    height: 70vh;
    display: flex;
    align-items: center;
    @include mobile {
        height: 70vh;
    }
    .agile {
        margin-top: 200px;
        font-family: $OpenSans-Light;
        color: #fff;
        h1 {
            font-family: $OpenSans-Regular;
            font-size: 20px;
            margin: 10% auto;
            color: #175574;;
            letter-spacing: 1px;
            @include mobile {
                font-size: .9em;
            }
        }
        margin:50px auto 100px;
        .agile-text {
            color: #303030;
            font-size: 25px;
            font-weight: 100;
            width: 80%;
            position: relative;
            margin: -35px auto 0;
            line-height: 150%;
            @include mobile {
                text-align-last: center;
                font-size: 1.1em;
                text-align: justify;
                margin-top: 10%;
            }
        }
        @include desktop {
            br {
                display: none;
            }
        }
    }
}

.about-more {
    padding: 5% 0;
    background: #fff;
    img{
        width: 50%;
    }
    p {
        color: #666666;
        font-size: 25px;
        line-height: 150%;
        margin: 50px auto;
        width: 70%;
        font-family: $OpenSans-Light;
        @include mobile{
            font-size: 1.2em;
            width: 100%;
            
        }
    }
}
