/*

  JV jQuery Mobile Menu
  Author: Julius van der Vaart (http://juliusvaart.com)
  Version: 2

*/


// Structure
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}
.page {
  width: 100%;
  min-height: 100%;
  overflow: auto;
  position: relative;
}


// Styles for menu
.mobile-nav {
 padding-top:300px;
 @include  mobile{
      padding-top: 150px;
 }
 background: rgba(0,0,0, .9);
 @include transition(all 3s ease);
 @include transition( background 6s ease-in-out);
z-index:100;
  ul {
   display: block;
   margin: 0 auto;
   padding: 0;
    li {
      list-style: none;
      text-align: center;
      margin: 20px 0;
      a {
        font-size: 20px;
        text-transform: uppercase;
        font-family:  $OpenSans-Light;
        color: #fff;
        letter-spacing: 2px;
        text-decoration: none;
        &:hover {
          color: #fff;
          //border-bottom: 2px solid #fff;
          text-decoration: none;
        }
        &:visited{
          color: #fff;
          text-decoration: none;

        }
      }

    }
  }
}


// Styles for hamburger

.hamburger {
  margin: 10px;
  padding: 10px 10px 9px;
  cursor: pointer;
  z-index: 999;
  display: block;

  .hamburger-inner {
    position: relative;
    height: 21px;
    width: 30px;
    display: block;
    margin: 0;
    padding: 0;
  }
  .bar {
    width: 30px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 0;
    &.bar2,
    &.bar3 {
      top: 9px;
    }
    &.bar4 {
      top: 18px;
    }
  }
  &.open {
    .bar1,
    .bar4 {
      display: none;
    }
    .bar2,
    .bar3 {
      height: 3px;
    }
  }
}
