.home-content {
    .container {
        .vertical-wrapper {
            display: table;
            height: 100vh;
            .vertical-content {
                display: table-cell;
                vertical-align: middle;
                .about-content {
                    font-family: $Montserrat-Light;
                    padding: 8%;
                    @include mobile {
                        padding: 0;
                    }
                    .about-element {
                        @include mobile {
                            padding: 0;
                        }
                        h3 {
                            font-size: 22px;
                            @include mobile {
                                font-size: 13px;
                                margin: 20% 0;
                            }
                        }
                    }
                    h1 {
                        font-size: 55px;
                        @include mobile {
                            font-size: 2em;
                            line-height: 1.25em;
                            text-align: left;
                        }
                        @include desktop {
                            margin-bottom: 5%;
                        }
                    }
                    p {
                        font-size: 22px;
                        margin: 5% auto 10%;
                        @include mobile {
                            font-size: 1em;
                            text-align: justify;
                            line-height: 1.5em;
                        }
                    }
                    .link {
                        margin-bottom: 5%;
                        a {
                            color: #000;
                            text-decoration: none;
                            border: 1px solid #000;
                            border-radius: 10px;
                            padding: 13px 45px;
                            font-size: 20px;
                            margin: 0 35px;
                            font-family: $Montserrat-Light;
                            @include mobile {
                                display: block;
                                font-size: 1em;
                                margin: 20px auto;
                                padding: 10px 0;
                            }
                            @include tablet {
                                padding: 15px 26px;
                                font-size: 14px;
                                margin: 0 10px;
                            }
                        }
                        :hover {
                            color: #fff;
                        }
                        :first-child {
                            margin-left: 0;
                            @include mobile {
                                margin: auto;
                            }
                        }
                        :last-child {
                            margin-right: 0;
                            @include mobile {
                                margin: auto;
                            }
                        }
                    }
                }
                .row {
                    font-family: $Montserrat-Light;
                    .responsive-align {
                        text-align: left;
                        @include mobile {
                            text-align: center;
                            padding: 8%;
                        }
                        @include tablet {
                            text-align: center;
                            padding: 0 8%;
                        }
                        h1 {
                            font-size: 50px;
                            @include mobile {
                                font-size: 30px;
                            }
                        }
                        h2 {
                            font-size: 25px;
                            @include mobile {
                                font-size: 25px;
                                margin: 10% 0;
                                br {
                                    display: none;
                                }
                            }
                            @include tablet {
                                br {
                                    display: none;
                                }
                                text-align: left;
                                margin: 26px auto;
                            }
                        }
                        img {
                            margin: 10% auto;
                            @include mobile {
                                margin: 10% auto;
                            }
                        }
                        p {
                            font-size: 20px;
                            @include mobile {
                                font-size: 1em;
                                text-align: center;
                            }
                            @include tablet {
                                text-align: left;
                            }
                        }
                        ul {
                            font-size: 22px;
                            list-style: none;
                            margin: 20px auto;
                            li {
                                @include mobile {
                                    display: inline;
                                    font-size: 1em;
                                }
                            }
                        }
                    }
                    h1 {
                        font-size: 60px;
                        margin-bottom: 40px;
                    }
                    .content-element {
                        font-size: 18px;
                        line-height: 150%;
                        ul {
                            list-style: none;
                        }
                        img {
                            margin: 20px;
                        }
                        h2 {
                            font-size: 35px;
                        }
                    }
                }
                .belief-text {
                    line-height: 2em;
                    font-family: $Montserrat-Light;
                    width: 70%;
                    @include tablet {
                        text-align: right;
                    }
                    @include mobile {
                        margin: auto;
                        width: 100%;
                    }
                    h1 {
                        line-height: 150%;
                        font-size: 50px;
                        @include mobile {
                            font-size: 30px;
                        }
                    }
                    p {
                        font-size: 22px;
                        line-height: 1.5em;
                        margin: 5% auto;
                        @include mobile {
                            font-size: 1em;
                            line-height: 1.8em;
                            margin: 15% auto;
                            text-align: justify;
                        }
                    }
                }
                .academic-content {
                    font-family: $Montserrat-Light;
                    padding: 5%;
                    h1 {
                        font-size: 3em;
                        line-height: 1.5em;
                        @include mobile {
                            font-size: 1.75em;
                            br {
                                display: none;
                            }
                        }
                    }
                    p {
                        font-size: 23px;
                        margin: 40px auto;
                        @include mobile {
                            font-size: 1em;
                        }
                    }
                    .link {
                        margin-bottom: 5%;
                        a {
                            color: #000;
                        }
                        :hover {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

.beliefs {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/DSC_9432 v 1.1.png");
        
    @include mobile {
        background-position: -356px 0;
    }
    @include tablet {
        background-position: -260px 0px;
    }
    color: #fff;
    background-size: cover;
}


.program {
    background: {
        image: url("../img/Program Background.png");
        size: cover;
    }
    height: 100vh;
    @include mobile {}
    .vertical-wrapper {
        display: table;
        height: 100vh;
        .vertical-content {
            display: table-cell;
            vertical-align: middle;
            .content-text {
                margin-left: 15%;
                line-height: 150%;
                color: #fff;
                @include mobile {
                    margin-left: 0;
                }
                @include tablet {
                    margin: 0;
                    padding: 0 5%;
                }
                h1 {
                    line-height: 150%;
                    font-size: 50px;
                    font-family: $Montserrat-Hairline;
                    @include mobile {
                        font-size: 30px;
                    }
                }
                p {
                    font-size: 22px;
                    line-height: 1.5em;
                    font-family: $Montserrat-Hairline;
                    margin: 5% auto;
                    @include mobile {
                        font-size: 1em;
                    }
                }
            }
        }
    }
}

.home-contact {
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/DSC_9392.png");

    background-size: cover;
    @include mobile {
        background-position: -200px 0;
        text-align: right;
    }
    @include tablet {
        background-position: -250px 0px;
        text-align: right;
    }
    .container {
        padding-left: 25%;
        padding-top: 10%;
        @include mobile {
            height: auto;
            padding-left: 25%;
            padding-top: 30%;
        }
        .contact-content {
            font-family: $Montserrat-Light;
            color: #fff;
            h1 {
                font-size: 60px;
                @include mobile {
                    font-size: 30px
                }
            }
            p {
                font-size: 22px;
                margin: 10% auto;
                line-height: 1.5em;
                @include mobile {
                    font-size: 12px
                }
            }
            .link {
                a {
                    color: #fff;
                    text-decoration: none;
                    border: 2px solid #fff;
                    border-radius: 10px;
                    padding: 10px 20px;
                    font-size: 20px;
                    font-family: $Montserrat-Light;
                    @include mobile {
                        font-size: 1em;
                        border: 1px solid #fff;
                    }
                }
                :hover {
                    background: #000;
                    color: #fff;
                     border: 2px solid #000;
                    transition: 1s;
                }
            }
        }
    }
}

.home-footer {
    background: #414141;
    .container {
        .vertical-wrapper {
            display: table;
            height: 30vh;
            @include tablet {
                height: 10vh;
            }
            @include mobile {
                height: 10vh;
            }
            margin: 0 auto;
            .vertical-content {
                display: table-cell;
                vertical-align: middle;
                .link {
                    a {
                        color: #fff;
                        border: 1px solid #fff;
                        font-family: $Montserrat-Hairline;
                        margin: 0 50px;
                        @include mobile {
                            display: block;
                            margin: 20px 0;
                            font-size: 12px;
                        }
                        @include tablet {
                            padding: 10px 23px;
                            font-size: 16px;
                            margin: 0 10px;
                        }
                    }
                    :first-child {
                        margin-left: 0;
                        @include mobile {
                            margin-top: 0px;
                        }
                    }
                    :last-child {
                        margin-right: 0;
                    }
                    @include mobile {
                        padding: 15% 0 8%;
                    }
                    :hover {
                        border: 0;
                    }
                }
            }
        }
    }
}
