.research-header {
    background: {
    	image: url("../img/Research -background.png");
    	size:cover;
    }
    color: #fff;
}

.research-program {
   background: {
   	image:url("../img/Research-Program Background.png");
   	size:cover;
   }
   color: #fff;
}

.research-contact {
    padding-bottom: 10%;
}
