@font-face{
	font-family: 'Montserrat-Regular';
	src:url(../fonts/Montserrat-Regular.otf);
}
@font-face{
	font-family: 'Montserrat-Hairline';
	src:url(../fonts/Montserrat-Hairline.otf);
}
@font-face{
	font-family: 'Montserrat-Light';
	src:url(../fonts/Montserrat-Light.otf);
}
@font-face{
	font-family: 'pali-helvetica-cond-bold';
	src:url(../fonts/pali-helvetica-cond-bold.ttf);
}
@font-face{
	font-family: 'pali-helvetica-italic';
	src:url(../fonts/pali-helvetica-italic.ttf);
}
@font-face{
	font-family: 'RegencieLight';
	src:url(../fonts/RegencieLight.ttf)
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
}
