/* -------------------------------- 

Primary style

-------------------------------- */
/* line 6, ../scss/scroll.scss */
*, *::after, *::before {
  box-sizing: border-box;
}

/* line 10, ../scss/scroll.scss */
html {
  font-size: 62.5%;
}

/* line 14, ../scss/scroll.scss */
body::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}

@media only screen and (min-width: 1050px) {
  /* line 20, ../scss/scroll.scss */
  body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}
/* line 26, ../scss/scroll.scss */
a {
  color: #267481;
  text-decoration: none;
}

/* -------------------------------- 

Main Components 

-------------------------------- */
@media only screen and (min-width: 1050px) {
  /* line 37, ../scss/scroll.scss */
  body[data-hijacking="on"] {
    overflow: hidden;
  }
}
/* line 42, ../scss/scroll.scss */
.cd-section {
  height: 100vh;
}

/* line 45, ../scss/scroll.scss */
.cd-section h2 {
  line-height: 100vh;
  text-align: center;
  font-size: 2.4rem;
}

/* line 50, ../scss/scroll.scss */
.cd-section:first-of-type > div {
  background-color: #2b334f;
}

/* line 53, ../scss/scroll.scss */
.cd-section:first-of-type > div::before {
  /* alert -> all scrolling effects are not visible on small devices */
  content: 'Effects not visible on mobile!';
  position: absolute;
  width: 100%;
  text-align: center;
  top: 20px;
  z-index: 2;
  font-weight: bold;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #6a7083;
}

/* line 66, ../scss/scroll.scss */
.cd-section:nth-of-type(2) > div {
  background-color: #2e5367;
}

/* line 69, ../scss/scroll.scss */
.cd-section:nth-of-type(3) > div {
  background-color: #267481;
}

/* line 72, ../scss/scroll.scss */
.cd-section:nth-of-type(4) > div {
  background-color: #fcb052;
}

/* line 75, ../scss/scroll.scss */
.cd-section:nth-of-type(5) > div {
  background-color: #f06a59;
}

/* line 78, ../scss/scroll.scss */
[data-animation="parallax"] .cd-section > div, [data-animation="fixed"] .cd-section > div, [data-animation="opacity"] .cd-section > div {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 83, ../scss/scroll.scss */
[data-animation="parallax"] .cd-section:first-of-type > div, [data-animation="fixed"] .cd-section:first-of-type > div, [data-animation="opacity"] .cd-section:first-of-type > div {
  background-image: url("../img/img-1.jpg");
}

/* line 86, ../scss/scroll.scss */
[data-animation="parallax"] .cd-section:nth-of-type(2) > div, [data-animation="fixed"] .cd-section:nth-of-type(2) > div, [data-animation="opacity"] .cd-section:nth-of-type(2) > div {
  background-image: url("../img/img-2.jpg");
}

/* line 89, ../scss/scroll.scss */
[data-animation="parallax"] .cd-section:nth-of-type(3) > div, [data-animation="fixed"] .cd-section:nth-of-type(3) > div, [data-animation="opacity"] .cd-section:nth-of-type(3) > div {
  background-image: url("../img/img-3.jpg");
}

/* line 92, ../scss/scroll.scss */
[data-animation="parallax"] .cd-section:nth-of-type(4) > div, [data-animation="fixed"] .cd-section:nth-of-type(4) > div, [data-animation="opacity"] .cd-section:nth-of-type(4) > div {
  background-image: url("../img/img-4.jpg");
}

/* line 95, ../scss/scroll.scss */
[data-animation="parallax"] .cd-section:nth-of-type(5) > div, [data-animation="fixed"] .cd-section:nth-of-type(5) > div, [data-animation="opacity"] .cd-section:nth-of-type(5) > div {
  background-image: url("../img/img-5.jpg");
}

@media only screen and (min-width: 1050px) {
  /* line 99, ../scss/scroll.scss */
  .cd-section h2 {
    font-size: 4rem;
    font-weight: 300;
  }

  /* line 103, ../scss/scroll.scss */
  [data-hijacking="on"] .cd-section {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  /* line 111, ../scss/scroll.scss */
  [data-hijacking="on"] .cd-section > div {
    visibility: visible;
  }

  /* line 114, ../scss/scroll.scss */
  [data-hijacking="off"] .cd-section > div {
    opacity: 0;
  }

  /* line 117, ../scss/scroll.scss */
  [data-animation="rotate"] .cd-section {
    /* enable a 3D-space for children elements */
    -webkit-perspective: 1800px;
    -moz-perspective: 1800px;
    perspective: 1800px;
  }

  /* line 123, ../scss/scroll.scss */
  [data-hijacking="on"][data-animation="rotate"] .cd-section:not(:first-of-type) {
    -webkit-perspective-origin: center 0;
    -moz-perspective-origin: center 0;
    perspective-origin: center 0;
  }

  /* line 128, ../scss/scroll.scss */
  [data-animation="scaleDown"] .cd-section > div, [data-animation="gallery"] .cd-section > div, [data-animation="catch"] .cd-section > div {
    box-shadow: 0 0 0 rgba(25, 30, 46, 0.4);
  }

  /* line 131, ../scss/scroll.scss */
  [data-animation="opacity"] .cd-section.visible > div {
    z-index: 1;
  }
}
@media only screen and (min-width: 1050px) {
  /* line 137, ../scss/scroll.scss */
  .cd-section:first-of-type > div::before {
    display: none;
  }
}
@media only screen and (min-width: 1050px) {
  /* line 142, ../scss/scroll.scss */
  .cd-section > div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  /* line 156, ../scss/scroll.scss */
  [data-hijacking="on"] .cd-section > div {
    position: absolute;
  }

  /* line 159, ../scss/scroll.scss */
  [data-animation="rotate"] .cd-section > div {
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
  }
}
/* line 168, ../scss/scroll.scss */
.cd-vertical-nav {
  /* lateral navigation */
  position: fixed;
  z-index: 1;
  right: 3%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
}

/* line 182, ../scss/scroll.scss */
.cd-vertical-nav a {
  display: block;
  height: 40px;
  width: 40px;
  /* image replace */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(../img/cd-icon-arrow.svg) no-repeat center center;
}

/* line 192, ../scss/scroll.scss */
.cd-vertical-nav a.cd-prev {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-bottom: 10px;
}

/* line 200, ../scss/scroll.scss */
.cd-vertical-nav a.inactive {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}

@media only screen and (min-width: 1050px) {
  /* line 208, ../scss/scroll.scss */
  .cd-vertical-nav {
    display: block;
  }
}
