@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
@font-face {
  font-family: 'Source-Light';
  src: url(../fonts/SourceSansPro-Light.eot);
  src: url(../fonts/SourceSansPro-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/SourceSansPro-Light.woff) format("woff"), url(../fonts/SourceSansPro-Light.ttf) format("truetype"), url(../fonts/SourceSansPro-Light.otf) format("otf");
}
@font-face {
  font-family: 'Source-Regular';
  src: url(../fonts/SourceSansPro-Regular.eot);
  src: url(../fonts/SourceSansPro-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/SourceSansPro-Regular.woff) format("woff"), url(../fonts/SourceSansPro-Regular.ttf) format("truetype"), url(../fonts/SourceSansPro-Regular.otf) format("otf");
}
@font-face {
  font-family: 'Source-Bold';
  src: url(../fonts/SourceSansPro-Bold.eot);
  src: url(../fonts/SourceSansPro-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/SourceSansPro-Bold.woff) format("woff"), url(../fonts/SourceSansPro-Bold.ttf) format("truetype"), url(../fonts/SourceSansPro-Bold.otf) format("otf");
}
@font-face {
  font-family: 'Perpetua-Titling-MT-Light';
  src: url(../fonts/Perpetua-Titling-MT-Light.eot);
  src: url(../fonts/Perpetua-Titling-MT-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/Perpetua-Titling-MT-Light.tff) format("tff"), url(../fonts/Perpetua-Titling-MT-Light.ttf) format("truetype"), url(../fonts/Perpetua-Titling-MT-Light.ttf) format("ttf");
}
@font-face {
  font-family: 'open-sans-SemiboldItalic';
  src: url(../fonts/OpenSans-SemiboldItalic.ttf);
}
@font-face {
  font-family: 'OpenSans-Semibold';
  src: url(../fonts/OpenSans-Semibold.ttf);
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: 'OpenSans-LightItalic';
  src: url(../fonts/OpenSans-LightItalic.ttf);
}
@font-face {
  font-family: 'OpenSans-Light';
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: 'OpenSans-ExtraBoldItalic';
  src: url(../fonts/OpenSans-ExtraBoldItalic.ttf);
}
@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url(../fonts/OpenSans-ExtraBold.ttf);
}
@font-face {
  font-family: 'OpenSans-BoldItalic';
  src: url(../fonts/OpenSans-BoldItalic.ttf);
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: 'perpetua';
  src: url(../fonts/perpetua.ttf);
}
@font-face {
  font-family: 'perpetuaitalic';
  src: url(../fonts/perpetuaitalic.ttf);
}
/* line 76, ../scss/_typography.scss */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 2, ../scss/_header.scss */
.banner-wrapper .icon-bar {
  display: flex;
  width: 36px;
  height: 1px;
  margin-top: 9px;
  background: #fff;
}
/* line 9, ../scss/_header.scss */
.banner-wrapper .nav-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: none;
  z-index: 9;
}
/* line 21, ../scss/_header.scss */
.banner-wrapper .navbar {
  padding-top: 80px;
}
/* line 23, ../scss/_header.scss */
.banner-wrapper .navbar a {
  display: block;
  width: 150px;
  height: 25px;
}
/* line 30, ../scss/_header.scss */
.banner-wrapper .navbar-items ul {
  list-style-type: none;
}
/* line 32, ../scss/_header.scss */
.banner-wrapper .navbar-items ul li {
  display: inline !important;
  margin: 0 50px;
  color: #222;
}
/* line 39, ../scss/_header.scss */
.banner-wrapper .affix {
  padding-top: 20px;
  overflow: hidden;
  color: #000;
  -moz-transition: padding 0.2s ease-in-out;
  -o-transition: padding 0.2s ease-in-out;
  -webkit-transition: padding 0.2s ease-in-out;
  transition: padding 0.2s ease-in-out;
}
/* line 45, ../scss/_header.scss */
.banner-wrapper .affix a {
  display: block;
  width: 200px;
  height: 55px;
  margin-bottom: 10px;
}
/* line 50, ../scss/_header.scss */
.banner-wrapper .affix a.navbar-brand {
  background: url("../images/bat1.png") no-repeat;
  background-size: cover;
}
/* line 135, ../scss/_header.scss */
.banner-wrapper .affix .bar {
  background-color: #000;
}
/* line 140, ../scss/_header.scss */
.banner-wrapper .inner-content .vertical-wrap {
  display: table;
  height: 100vh;
}
/* line 143, ../scss/_header.scss */
.banner-wrapper .inner-content .vertical-wrap .vertical-content {
  display: table-cell;
  vertical-align: middle;
}
/* line 146, ../scss/_header.scss */
.banner-wrapper .inner-content .vertical-wrap .vertical-content .header-text {
  color: #fff;
  font-family: "OpenSans-Light";
  font-weight: 100;
  width: 70%;
}
/* line 151, ../scss/_header.scss */
.banner-wrapper .inner-content .vertical-wrap .vertical-content .header-text h1 {
  font-size: 45px;
  font-weight: 100;
}
/* line 155, ../scss/_header.scss */
.banner-wrapper .inner-content .vertical-wrap .vertical-content .header-text p {
  margin-top: 15px;
  font-size: 20px;
  width: 85%;
}
/* line 161, ../scss/_header.scss */
.banner-wrapper .inner-content .vertical-wrap .vertical-content .header-text a.hire-link {
  color: #fff;
  border-bottom: #fff solid 1px;
  text-decoration: none;
}
/* line 166, ../scss/_header.scss */
.banner-wrapper .inner-content .vertical-wrap .vertical-content .header-text a.hover {
  text-decoration: none;
}
/* line 172, ../scss/_header.scss */
.banner-wrapper .inner-content .vertical-wrap .vertical-content .header-text .header-icons a img {
  display: inline;
  width: 50px;
  background: rgba(226, 17, 46, 0.4);
  margin: 1px;
  padding: 10px;
  border-radius: 10px;
  border-bottom: none;
}
/* line 186, ../scss/_header.scss */
.banner-wrapper .inner-content .btn-arrow {
  margin-bottom: 430px;
  width: 39px;
  height: 39px;
}
/* line 192, ../scss/_header.scss */
.banner-wrapper .inner-content .header-logo {
  width: 200px;
}

/* line 198, ../scss/_header.scss */
.overlay {
  content: " ";
  position: absolute;
  height: 100vh;
  width: auto;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0.9;
  z-index: -1;
  mix-blend-mode: unset;
  background: rgba(0, 0, 0, 0.9);
}

/* line 212, ../scss/_header.scss */
video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/*

  JV jQuery Mobile Menu
  Author: Julius van der Vaart (http://juliusvaart.com)
  Version: 2

*/
/* line 11, ../scss/_navtoggle.scss */
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* line 17, ../scss/_navtoggle.scss */
.page {
  width: 100%;
  min-height: 100%;
  overflow: auto;
  position: relative;
}

/* line 27, ../scss/_navtoggle.scss */
.mobile-nav {
  padding-top: 150px;
  background: #333;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -moz-transition: background 1s ease-in-out;
  -o-transition: background 1s ease-in-out;
  -webkit-transition: background 1s ease-in-out;
  transition: background 1s ease-in-out;
  z-index: 100;
}
/* line 33, ../scss/_navtoggle.scss */
.mobile-nav ul {
  display: block;
  margin: 0 auto;
  padding: 0;
}
/* line 37, ../scss/_navtoggle.scss */
.mobile-nav ul li {
  list-style: none;
  text-align: center;
  margin: 40px 0;
}
/* line 41, ../scss/_navtoggle.scss */
.mobile-nav ul li a {
  font-size: 40px;
  text-transform: uppercase;
  font-family: "Source-Light", sans-serif;
  color: #fff;
}
/* line 46, ../scss/_navtoggle.scss */
.mobile-nav ul li a:hover {
  color: #fff;
  text-decoration: none;
}

/* line 60, ../scss/_navtoggle.scss */
.hamburger {
  margin: 10px;
  padding: 10px 10px 9px;
  cursor: pointer;
  z-index: 999;
  display: block;
}
/* line 67, ../scss/_navtoggle.scss */
.hamburger .hamburger-inner {
  position: relative;
  height: 21px;
  width: 30px;
  display: block;
  margin: 0;
  padding: 0;
}
/* line 75, ../scss/_navtoggle.scss */
.hamburger .bar {
  width: 30px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 0;
}
/* line 81, ../scss/_navtoggle.scss */
.hamburger .bar.bar2, .hamburger .bar.bar3 {
  top: 9px;
}
/* line 85, ../scss/_navtoggle.scss */
.hamburger .bar.bar4 {
  top: 18px;
}
/* line 90, ../scss/_navtoggle.scss */
.hamburger.open .bar1,
.hamburger.open .bar4 {
  display: none;
}
/* line 94, ../scss/_navtoggle.scss */
.hamburger.open .bar2,
.hamburger.open .bar3 {
  height: 3px;
}

/* line 1, ../scss/_services.scss */
.entire-text {
  font-family: "Source-Light", sans-serif;
}

/* line 5, ../scss/_services.scss */
.col2 {
  margin-top: 85px;
}

/* line 9, ../scss/_services.scss */
.col2 h5 {
  font-size: 25px;
}

/* line 13, ../scss/_services.scss */
.col2 button {
  background-color: transparent;
  border-color: blue;
  padding: 5px 25px;
  border-style: solid;
  margin-top: 70px;
  font-family: "Source-Light", sans-serif;
  border-width: 0.1px;
}

/* line 23, ../scss/_services.scss */
.h1Projects h1 {
  vertical-align: bottom;
  margin-top: 100px;
  margin-right: 187px;
  margin-bottom: 120px;
  font-size: 15px;
  font-weight: bold;
  font-family: "Source-Light", sans-serif;
}

/*
hr {
  width: 75px;
  border-top: 2px solid #000;
  float:right;

}
*/
/* line 43, ../scss/_services.scss */
.inner-title {
  margin-right: 187px;
  font-family: "Source-Light", sans-serif;
}

/* line 48, ../scss/_services.scss */
.inner-title h2 {
  font-size: 40px;
  font-family: "Source-Light", sans-serif;
  font-weight: bold;
}

/* line 54, ../scss/_services.scss */
.services {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f7f7f7;
}
/* line 61, ../scss/_services.scss */
.services h2 {
  color: #666;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

/* line 69, ../scss/_services.scss */
.caption {
  font-size: 30px;
  padding: 100px 22% 40px;
}

/* line 74, ../scss/_services.scss */
.square {
  width: 100px;
  height: 5px;
  background: #e2112e;
  margin: 0 auto;
}

/* line 81, ../scss/_services.scss */
.services2 {
  position: relative;
  display: -webkit-inline-box;
  margin: 0 auto 120px;
}

/* line 87, ../scss/_services.scss */
.design {
  background: #fff;
  width: 300px;
  padding: 50px;
  margin: 50px 15px -50px;
  color: #e2112e;
  font-family: "OpenSans-Light";
}
/* line 94, ../scss/_services.scss */
.design img {
  width: 40px;
  float: left;
}
/* line 98, ../scss/_services.scss */
.design p {
  color: #7d7d7d;
  font-size: 14px;
  letter-spacing: 0.5px;
  width: 100%;
  font-family: "OpenSans-Light";
  text-align: justify;
}
/* line 106, ../scss/_services.scss */
.design h2 {
  font-size: 25px;
  color: #222;
  font-family: "OpenSans-Bold";
  padding: 40px 0 15px;
}
/* line 112, ../scss/_services.scss */
.design .divider {
  border-bottom: 1px solid #e1e1e1;
  margin: 15px 0;
}
/* line 116, ../scss/_services.scss */
.design .plus {
  border-radius: 50%;
  background: #e2112e;
  color: #fff;
  width: 50px;
  height: 50px;
  padding: 6px;
  font-size: 26px;
  font-weight: 100;
  margin: 0 auto -10px;
}

/* line 129, ../scss/_services.scss */
.services-text {
  z-index: 100;
}
/* line 131, ../scss/_services.scss */
.services-text .container {
  font-family: "OpenSans-Light";
  background: #485563;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #485563, #29323c);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #485563, #29323c);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: 110vh;
  padding: 15%;
}
/* line 149, ../scss/_services.scss */
.services-text .container h1 {
  font-size: 30px;
  color: #fff;
  font-family: "OpenSans-Bold";
}
/* line 154, ../scss/_services.scss */
.services-text .container p {
  color: #fff;
  font-size: 25px;
  margin: 0 15% 10%;
}
/* line 159, ../scss/_services.scss */
.services-text .container a {
  margin: 0 10px 0;
}
/* line 162, ../scss/_services.scss */
.services-text .container a:link {
  transition: 1s;
  color: #fff;
  padding: 15px 50px;
  text-decoration: none;
  border: 1px solid #fa96a4;
}
/* line 169, ../scss/_services.scss */
.services-text .container a:hover {
  transition: 1s;
  color: #fff;
  padding: 15px 70px;
  background: rgba(206, 13, 40, 0.2);
  text-decoration: none;
  border: none;
}
/* line 177, ../scss/_services.scss */
.services-text .container a:visited {
  transition: 1s;
  color: #fff;
  padding: 15px 50px;
  text-decoration: none;
  border: 1px solid #fc687d;
}

/* line 1, ../scss/_counter.scss */
.counter-text {
  color: #fff;
  margin: 10em;
  font-family: "OpenSans-Light";
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* line 9, ../scss/_counter.scss */
.counter-text .number {
  font-size: 40px;
  font-family: "OpenSans-Bold";
}

/* line 1, ../scss/_sliders-counter.scss */
#sliders {
  background: #fff;
}

/* line 5, ../scss/_sliders-counter.scss */
.divider {
  border-bottom: 1px solid #e1e1e1;
  margin: 15px 0;
}

/* line 9, ../scss/_sliders-counter.scss */
.slider {
  position: relative;
  width: 1200px;
  height: 300px;
  overflow: hidden;
  margin: 0 auto;
}

/* line 20, ../scss/_sliders-counter.scss */
.slider > .widget {
  position: relative;
  width: 99999999px;
  height: 600px;
  white-space: nowrap;
}

/* line 29, ../scss/_sliders-counter.scss */
.slider > .widget.do-slide {
  animation-name: do-slide;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

/* line 38, ../scss/_sliders-counter.scss */
.slider > .widget.backwards-slide {
  animation-name: do-slide;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-duration: 0.5s;
  animation-direction: reverse;
  animation-timing-function: ease-in;
}

/* line 48, ../scss/_sliders-counter.scss */
.slider > .widget > li {
  position: relative;
  width: 700px;
  height: 300px;
  list-style: none;
  padding: 3em;
  color: #fff;
  font-family: "perpetuaitalic";
  white-space: normal;
  text-align: center;
}
/* line 60, ../scss/_sliders-counter.scss */
.slider > .widget > li div a:first-child {
  color: #e2112e;
}
/* line 63, ../scss/_sliders-counter.scss */
.slider > .widget > li div a:nth-child(2) {
  color: #777777;
}
/* line 66, ../scss/_sliders-counter.scss */
.slider > .widget > li div a:link {
  text-decoration: none;
  font-family: "OpenSans-Bold";
}
/* line 70, ../scss/_sliders-counter.scss */
.slider > .widget > li div a:hover {
  text-decoration: none;
  font-family: "OpenSans-Bold";
}

/* line 77, ../scss/_sliders-counter.scss */
.slider > .widget > li > h5 {
  font-style: italic;
  width: 60%;
  font-size: 20px;
  color: #888888;
  text-align: left;
  line-height: 30px;
}

/* line 87, ../scss/_sliders-counter.scss */
.slider > .widget > li > h5 > .quote {
  font-size: 150px;
  font-family: "Perpetua-Titling-MT-Light";
  margin: 0;
  padding: 0;
  position: relative;
  top: 80px;
  line-height: 0;
  color: rgba(179, 11, 35, 0.5);
  float: right;
}

/* line 100, ../scss/_sliders-counter.scss */
.slider > .widget > li > img {
  float: right;
  margin: -150px 20px 179px;
}

/* line 105, ../scss/_sliders-counter.scss */
span.spans {
  font-family: "Source-Light", sans-serif;
  color: #6a6a6a;
}

/* line 112, ../scss/_sliders-counter.scss */
.slider > .widget > li > credit {
  font-size: 10px;
  margin-top: 560px;
  color: #c1c1c1;
  font-family: "Source-Light", sans-serif;
}

/* line 120, ../scss/_sliders-counter.scss */
.slider > .controls > .bottom {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px 25%;
  text-align: center;
}

/* line 131, ../scss/_sliders-counter.scss */
.slider > .controls > .bottom > label {
  font-size: 14px;
  letter-spacing: 2px;
  position: relative;
  top: 30px;
  right: 140px;
  background: #e2112e;
  padding: 0 15px;
  color: #fd5f75;
  opacity: 1;
}

/* line 144, ../scss/_sliders-counter.scss */
.slider > .controls > .bottom > hr.slider-line {
  float: none;
  display: block;
  margin: 13px 0;
  height: 1px;
  background: transparent;
  border: none;
  width: 560px;
  padding-bottom: 50px;
  border-top: 1px solid #fd5f75;
}

@keyframes do-slide {
  0% {
    left: 0;
  }
  100% {
    left: -1000px;
  }
}
/* line 1, ../scss/_slider.scss */
.projects {
  background-color: #fff;
}
/* line 5, ../scss/_slider.scss */
.projects .carousel .carousel-inner {
  margin: 100px 0;
}
/* line 8, ../scss/_slider.scss */
.projects .carousel .active {
  top: 0;
  position: relative;
}
/* line 11, ../scss/_slider.scss */
.projects .carousel .active.right {
  top: 400px;
}
/* line 15, ../scss/_slider.scss */
.projects .carousel .next {
  top: 420px;
}
/* line 19, ../scss/_slider.scss */
.projects .carousel.vertical .item {
  -moz-transition: ease-in-out 0.7s top;
  -o-transition: ease-in-out 0.7s top;
  -webkit-transition: ease-in-out 0.7s top;
  transition: ease-in-out 0.7s top;
  left: 0;
}
/* line 22, ../scss/_slider.scss */
.projects .carousel.vertical .item:before {
  -moz-transition: background 0.7s ease-in-out;
  -o-transition: background 0.7s ease-in-out;
  -webkit-transition: background 0.7s ease-in-out;
  transition: background 0.7s ease-in-out;
}
/* line 25, ../scss/_slider.scss */
.projects .carousel.vertical .item:hover {
  -moz-transition: background 0.6s ease-in-out;
  -o-transition: background 0.6s ease-in-out;
  -webkit-transition: background 0.6s ease-in-out;
  transition: background 0.6s ease-in-out;
}
/* line 27, ../scss/_slider.scss */
.projects .carousel.vertical .item:hover p {
  visibility: visible;
}
/* line 30, ../scss/_slider.scss */
.projects .carousel.vertical .item:hover .line {
  visibility: visible;
}
/* line 33, ../scss/_slider.scss */
.projects .carousel.vertical .item:hover:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 48, ../scss/_slider.scss */
.projects .inner-title {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  color: #fff;
  height: 100%;
  padding: 10% 0;
}
/* line 57, ../scss/_slider.scss */
.projects .inner-title h3 {
  font-size: 50px;
  text-align: center;
}
/* line 61, ../scss/_slider.scss */
.projects .inner-title p {
  font-size: 20px;
  visibility: hidden;
  text-align: center;
}
/* line 67, ../scss/_slider.scss */
.projects .inner-title hr.line {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  width: 500px;
  visibility: hidden;
}
/* line 78, ../scss/_slider.scss */
.projects .shortcut-link {
  position: relative;
  background: #fff;
  padding-bottom: 100px;
}
/* line 82, ../scss/_slider.scss */
.projects .shortcut-link a {
  color: #000;
  text-transform: uppercase;
}
/* line 85, ../scss/_slider.scss */
.projects .shortcut-link a.btn-contact {
  font-size: 25px;
}
/* line 87, ../scss/_slider.scss */
.projects .shortcut-link a.btn-contact .fa {
  font-size: 20px;
  margin-left: 10px;
}
/* line 92, ../scss/_slider.scss */
.projects .shortcut-link a.btn-home, .projects .shortcut-link a.btn-services {
  font-size: 18px;
}
/* line 94, ../scss/_slider.scss */
.projects .shortcut-link a.btn-home .fa, .projects .shortcut-link a.btn-services .fa {
  font-size: 20px;
  margin-right: 10px;
}
/* line 101, ../scss/_slider.scss */
.projects .shortcut-link a.btn-services .fa {
  font-size: 20px;
  margin-left: 10px;
}

/* line 2, ../scss/_technologies.scss */
.technologies {
  position: relative;
  width: 100%;
  height: auto;
  padding: 30% auto;
}
/* line 8, ../scss/_technologies.scss */
.technologies#main3 {
  background: #2c2c33;
}
/* line 11, ../scss/_technologies.scss */
.technologies#main3 .container h2 {
  color: #666;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}
/* line 17, ../scss/_technologies.scss */
.technologies#main3 .container .img-holder {
  display: inline-block;
  width: 70px;
  height: 120px;
  margin: 0px 10px 0;
}
/* line 22, ../scss/_technologies.scss */
.technologies#main3 .container .img-holder img {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
  float: none;
  cursor: pointer;
}
/* line 41, ../scss/_technologies.scss */
.technologies#main3 .container .img-holder img:hover {
  -webkit-filter: grayscale(0);
  /* Chrome, Safari, Opera */
  filter: grayscale(0);
}

/* line 52, ../scss/_technologies.scss */
#particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  margin: 0 auto;
  padding: 0 15px;
  background-color: #FFFFFF;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* line 1, ../scss/_team-services.scss */
.team-services {
  background: #fff;
  padding-top: 200px;
}
/* line 5, ../scss/_team-services.scss */
.team-services .header-title h2 {
  font-size: 62px;
  line-height: 1.5;
  font-family: "Source-Light", sans-serif;
}
/* line 11, ../scss/_team-services.scss */
.team-services .inner-content {
  padding-top: 280px;
}
/* line 13, ../scss/_team-services.scss */
.team-services .inner-content img {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
}
/* line 19, ../scss/_team-services.scss */
.team-services .inner-content h5 {
  text-align: center;
  font-size: 16px;
}
/* line 24, ../scss/_team-services.scss */
.team-services .team-title {
  padding-top: 320px;
}
/* line 26, ../scss/_team-services.scss */
.team-services .team-title h3 {
  text-transform: capitalize;
  font-size: 40px;
  font-family: "Source-Light", sans-serif;
  font-weight: bold;
}
/* line 33, ../scss/_team-services.scss */
.team-services .team-title hr.team-line {
  float: none;
  margin: 0;
  padding: 0;
  width: 60px;
  border-top: 1px solid #000;
  margin-left: 28px;
  margin-top: 40px;
}
/* line 44, ../scss/_team-services.scss */
.team-services .memskill {
  padding-top: 64px;
}
/* line 46, ../scss/_team-services.scss */
.team-services .memskill .title {
  padding-bottom: 35px;
}
/* line 48, ../scss/_team-services.scss */
.team-services .memskill .title h3 {
  color: #c8c8c8;
  font-size: 16px;
}
/* line 53, ../scss/_team-services.scss */
.team-services .memskill ul {
  padding: 0;
}
/* line 55, ../scss/_team-services.scss */
.team-services .memskill ul li {
  list-style: none;
  position: relative;
  margin-top: 1px;
}
/* line 59, ../scss/_team-services.scss */
.team-services .memskill ul li:first-child {
  margin-top: 0;
}
/* line 62, ../scss/_team-services.scss */
.team-services .memskill ul li img {
  width: 12px;
  height: 35px;
}
/* line 66, ../scss/_team-services.scss */
.team-services .memskill ul li .members-info {
  position: relative;
  bottom: 47px;
  left: 25px;
}
/* line 70, ../scss/_team-services.scss */
.team-services .memskill ul li .members-info h4,
.team-services .memskill ul li .members-info span {
  line-height: 0.5;
}
/* line 74, ../scss/_team-services.scss */
.team-services .memskill ul li .members-info h4 {
  font-size: 20px;
  color: #0f0f0f;
}
/* line 78, ../scss/_team-services.scss */
.team-services .memskill ul li .members-info span {
  font-size: 14px;
  font-weight: 400;
  color: #373737;
}
/* line 85, ../scss/_team-services.scss */
.team-services .memskill ul.progress-list {
  padding: 0;
  margin: 0;
  position: relative;
  bottom: 10px;
  border-left: 1px solid #000;
}
/* line 91, ../scss/_team-services.scss */
.team-services .memskill ul.progress-list li {
  margin-top: 25px;
  margin-left: 100px;
}
/* line 94, ../scss/_team-services.scss */
.team-services .memskill ul.progress-list li:first-child {
  margin-top: 0;
}
/* line 97, ../scss/_team-services.scss */
.team-services .memskill ul.progress-list li .progress-bar {
  position: relative;
  background: #fff;
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
  height: 22px;
  border: 1px solid #3498db;
}
/* line 106, ../scss/_team-services.scss */
.team-services .memskill ul.progress-list li .progress-bar div {
  background: #3498db;
  overflow: hidden;
  position: absolute;
  height: 20px;
  min-width: 0;
  border: 1px solid #3498db;
}
/* line 115, ../scss/_team-services.scss */
.team-services .memskill ul.progress-list li h5 {
  padding-top: 30px;
  font-size: 14px;
  color: #373737;
  font-weight: 400;
}
/* line 125, ../scss/_team-services.scss */
.team-services .button-link {
  padding: 150px 0;
}
/* line 127, ../scss/_team-services.scss */
.team-services .button-link a {
  color: #000;
  text-transform: uppercase;
  font-size: 18px;
}
/* line 132, ../scss/_team-services.scss */
.team-services .button-link a.left i {
  margin-right: 10px;
}
/* line 137, ../scss/_team-services.scss */
.team-services .button-link a.right i {
  margin-left: 10px;
}

/* line 145, ../scss/_team-services.scss */
.project-section {
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #ebebeb;
}
/* line 151, ../scss/_team-services.scss */
.project-section .container .block-projects {
  margin: 0 auto;
  width: 100%;
}
/* line 154, ../scss/_team-services.scss */
.project-section .container .block-projects h2 {
  color: #666;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}
/* line 160, ../scss/_team-services.scss */
.project-section .container .block-projects .gallery {
  margin: 70px auto;
  text-align: center;
  width: 100%;
}
/* line 164, ../scss/_team-services.scss */
.project-section .container .block-projects .gallery li {
  max-width: 100%;
  min-height: 100%;
  text-align: center;
  position: relative;
  margin: 0 auto;
  display: inline-block;
  overflow: hidden;
  background: #e2112e;
}
/* line 173, ../scss/_team-services.scss */
.project-section .container .block-projects .gallery li:nth-child(2) img {
  margin: 0;
  display: inline-block;
  float: right;
}
/* line 178, ../scss/_team-services.scss */
.project-section .container .block-projects .gallery li .name {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: lighter;
  font-size: 25px;
  letter-spacing: .1em;
  position: absolute;
  display: block;
  top: 40%;
  left: 0;
  text-align: center;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}
/* line 194, ../scss/_team-services.scss */
.project-section .container .block-projects .gallery li .name .title {
  display: block;
  text-transform: none;
  font-size: 60%;
  color: rgba(255, 255, 255, 0.7);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -moz-transition-duration: 0.9s;
  -o-transition-duration: 0.9s;
  -webkit-transition-duration: 0.9s;
  transition-duration: 0.9s;
}
/* line 206, ../scss/_team-services.scss */
.project-section .container .block-projects .gallery li:hover .name {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
/* line 212, ../scss/_team-services.scss */
.project-section .container .block-projects .gallery li:hover .title {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 215, ../scss/_team-services.scss */
.project-section .container .block-projects .gallery li:hover img {
  -moz-transform: scale(1.09, 1.09);
  -ms-transform: scale(1.09, 1.09);
  -webkit-transform: scale(1.09, 1.09);
  transform: scale(1.09, 1.09);
  background-position: top top;
  -webkit-filter: 0.4 blur(2px);
  filter: 0.4 blur(2px);
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
/* line 223, ../scss/_team-services.scss */
.project-section .container .block-projects .gallery li:hover:hover img {
  opacity: 0.5;
}
/* line 227, ../scss/_team-services.scss */
.project-section .container .block-projects .gallery li img {
  display: block;
  width: auto;
  height: auto;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  opacity: 1;
  background: #e2112e;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

/* line 246, ../scss/_team-services.scss */
.team-picture img {
  width: 100%;
  height: auto;
}

/* line 253, ../scss/_team-services.scss */
.work a:link {
  color: #e2112e;
  text-transform: uppercase;
  border: solid 1px;
  padding: 20px 50px;
  text-decoration: none;
}
/* line 260, ../scss/_team-services.scss */
.work a:hover {
  color: #fff !important;
  text-transform: uppercase;
  border: solid 1px;
  padding: 20px 50px;
  text-decoration: none;
  background-color: #e2112e;
  transition-duration: 0.5s;
}
/* line 269, ../scss/_team-services.scss */
.work a:visited {
  color: #e2112e;
  text-transform: uppercase;
  border: solid 1px;
  padding: 20px 50px;
  text-decoration: none;
}

/* line 1, ../scss/_footer.scss */
.site-footer {
  background-color: #f7f7f7;
  color: #666666;
  font-family: "Source-Light", sans-serif;
  font-size: 16px;
  line-height: 150%;
}

/* line 9, ../scss/_footer.scss */
#copyright {
  background: #f7f7f7;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #777;
  border-top: solid 1px #f5f5f5;
}

/* line 17, ../scss/_footer.scss */
#map {
  width: 100%;
  height: 500px;
  background: #fff;
}

/* line 23, ../scss/_footer.scss */
.footer-elements {
  margin: auto;
}
/* line 25, ../scss/_footer.scss */
.footer-elements li {
  list-style: none;
}
/* line 27, ../scss/_footer.scss */
.footer-elements li img {
  width: 150px;
  height: auto;
}
/* line 31, ../scss/_footer.scss */
.footer-elements li a {
  color: #275b88;
}
/* line 33, ../scss/_footer.scss */
.footer-elements li a:hover {
  text-decoration: none;
}
/* line 38, ../scss/_footer.scss */
.footer-elements li ul.social-media {
  margin-left: -40px;
}
/* line 40, ../scss/_footer.scss */
.footer-elements li ul.social-media li {
  display: inline-block;
}
/* line 42, ../scss/_footer.scss */
.footer-elements li ul.social-media li a {
  margin-right: 15px;
  color: #275b88;
}
/* line 50, ../scss/_footer.scss */
.footer-elements .title {
  margin: 30px 0;
}
/* line 53, ../scss/_footer.scss */
.footer-elements .swiftkind {
  margin-top: 20px;
}
/* line 56, ../scss/_footer.scss */
.footer-elements .address {
  margin-bottom: 20px;
  width: 80%;
  line-spacing: 1.5em;
}
/* line 61, ../scss/_footer.scss */
.footer-elements .element {
  margin-top: 15px;
}

/* line 66, ../scss/_footer.scss */
.vertical-wrap {
  display: table;
  height: 75vh;
}
/* line 69, ../scss/_footer.scss */
.vertical-wrap .vertical-content {
  display: table-cell;
  vertical-align: middle;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (max-width: 1366px) {
  /* line 86, ../scss/_footer.scss */
  .banner-wrapper .inner-content .vertical-wrap {
    margin-left: 30px;
  }
  /* line 89, ../scss/_footer.scss */
  .banner-wrapper .inner-content .vertical-wrap .vertical-content .header-text {
    width: 70%;
  }
  /* line 91, ../scss/_footer.scss */
  .banner-wrapper .inner-content .vertical-wrap .vertical-content .header-text h1 {
    font-size: 35px;
  }
  /* line 94, ../scss/_footer.scss */
  .banner-wrapper .inner-content .vertical-wrap .vertical-content .header-text p {
    font-size: 20px;
  }

  /* line 105, ../scss/_footer.scss */
  .project-section .container .block-projects .gallery {
    margin: 50px auto;
  }
  /* line 107, ../scss/_footer.scss */
  .project-section .container .block-projects .gallery li {
    width: 25%;
    margin: 10px;
  }

  /* line 116, ../scss/_footer.scss */
  .services-text .container {
    height: 110vh;
    padding: 12%;
  }
  /* line 119, ../scss/_footer.scss */
  .services-text .container p {
    font-size: 20px;
    margin: 0 15% 10%;
  }

  /* line 125, ../scss/_footer.scss */
  .caption {
    font-size: 25px;
    padding: 40px 25% 20px;
  }

  /* line 129, ../scss/_footer.scss */
  .about {
    height: 60vh;
  }
}
@media (min-width: 1200px) {
  /* line 139, ../scss/_footer.scss */
  .project-section .container {
    width: 1270px;
  }
}
/* line 145, ../scss/_footer.scss */
#test {
  width: 227px;
  height: 142px;
  top: 2px;
  left: 0px;
}

/* line 1, ../scss/_about.scss */
.about {
  background-color: #2c2c33;
  background-size: cover;
}
/* line 6, ../scss/_about.scss */
.about .agile {
  margin-top: 200px;
  font-family: "OpenSans-Light";
  color: #fff;
  margin: 50px auto 100px;
}
/* line 11, ../scss/_about.scss */
.about .agile h1 {
  font-family: "OpenSans-Regular";
  font-size: 20px;
  margin: 10% auto;
  color: #D52267;
  letter-spacing: 1px;
}
/* line 19, ../scss/_about.scss */
.about .agile .agile-text {
  color: #979797;
  font-size: 25px;
  font-weight: 100;
  width: 80%;
  position: relative;
  margin: -35px auto 0;
  line-height: 150%;
}

/* line 1, ../scss/_graph.scss */
.graph {
  background: #fff;
}

/* line 5, ../scss/_graph.scss */
#svg {
  width: 30%;
  height: 80%;
  position: relative;
  -webkit-transform: translate3d(-50%, -50%, 0);
}

/* line 12, ../scss/_graph.scss */
.breakpoint {
  -webkit-transform: scale(0);
  transform: scale(0);
  position: absolute;
  -webkit-transform-origin: 50% 50%;
}

/* line 18, ../scss/_graph.scss */
.active {
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* line 22, ../scss/_graph.scss */
.numbers {
  float: left;
  list-style: none;
}
/* line 25, ../scss/_graph.scss */
.numbers li {
  margin: 50px;
}

/* line 29, ../scss/_graph.scss */
.name {
  list-style: none;
}
/* line 31, ../scss/_graph.scss */
.name li {
  position: relative;
  display: inline-block;
  margin: 0 100px 0;
  color: #e2112e;
}

/* line 3, ../scss/design.scss */
.banner-wrapper1 {
  background-image: url("../images/img51.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #e11111;
}

/* line 12, ../scss/design.scss */
.job-title {
  color: #fff;
}
/* line 14, ../scss/design.scss */
.job-title h1 {
  font-family: "open-sans-SemiboldItalic";
  font-weight: 100;
  font-size: 50px !important;
  margin: 0;
}
/* line 20, ../scss/design.scss */
.job-title h3 {
  font-family: 'open sans';
  font-weight: 100;
  font-size: 20px !important;
  margin: 0;
  position: relative;
}

/* line 29, ../scss/design.scss */
.desc-caption {
  color: #222222;
  font-family: 'open sans';
  font-weight: 100;
  margin: 20%;
}

/* line 36, ../scss/design.scss */
.description {
  margin: 10% 5% 10%;
}
/* line 38, ../scss/design.scss */
.description .desc-image-left {
  width: 15%;
  float: left;
}
/* line 42, ../scss/design.scss */
.description .desc-image-right {
  width: 15%;
  margin: 10% -56px;
  float: right;
  position: absolute;
}
/* line 48, ../scss/design.scss */
.description .desc-right {
  float: right;
  width: 50%;
  margin: 25% -10%;
  font-family: 'open sans';
}
/* line 53, ../scss/design.scss */
.description .desc-right h4 {
  font-size: 30px;
  font-weight: 600;
  color: #e2112e;
  margin: 20px 0;
}
/* line 59, ../scss/design.scss */
.description .desc-right p {
  font-family: 'open sans';
  font-size: 15px;
  line-height: 2em;
  color: #999999;
  position: relative;
  width: 90%;
}
/* line 67, ../scss/design.scss */
.description .desc-right span {
  float: left;
  font-size: 114px;
  font-weight: 100;
  color: #ebebeb;
  font-family: 'open sans';
  margin: -108px 0px -9px;
}

/* line 78, ../scss/design.scss */
.desc-left {
  float: left;
  width: 50%;
  margin: 10% auto;
  font-family: 'open sans';
}
/* line 83, ../scss/design.scss */
.desc-left h4 {
  font-size: 30px;
  font-weight: 600;
  color: #464646;
  margin: 20px 0;
  text-transform: uppercase;
}
/* line 90, ../scss/design.scss */
.desc-left h5 {
  text-transform: uppercase;
}
/* line 93, ../scss/design.scss */
.desc-left p {
  font-family: 'open sans';
  font-size: 15px;
  line-height: 2em;
  color: #999999;
  position: relative;
  width: 90%;
}
/* line 101, ../scss/design.scss */
.desc-left span {
  float: left;
  font-size: 114px;
  font-weight: 100;
  color: #ebebeb;
  font-family: 'open sans';
  margin: -108px 0px -9px;
}

/* line 111, ../scss/design.scss */
.design-divider {
  margin: 10% auto;
  border-bottom: thick dashed #e1e1e1;
  border-bottom-width: 3px;
}

/* line 117, ../scss/design.scss */
.hire {
  color: #d0122c;
  font-size: 80px;
  font-weight: 600;
  font-family: 'open sans';
  border-bottom: solid 5px #d0122c;
}

/* line 2, ../scss/_materialize.scss */
button:focus {
  outline: none;
}

/* line 6, ../scss/_materialize.scss */
button:hover {
  opacity: .8;
}

/* line 10, ../scss/_materialize.scss */
.fa {
  font-size: 20px;
}

/* line 14, ../scss/_materialize.scss */
.fa-info {
  color: white;
}

/* line 18, ../scss/_materialize.scss */
.card {
  margin: 50px 10px;
  width: 285px;
  height: 500px;
  max-width: 330px;
  position: relative;
  overflow: hidden;
  padding: 50px 0;
  background: #fff;
}

/* line 30, ../scss/_materialize.scss */
h2 {
  padding: 20px;
  color: #222;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "OpenSans-Regular";
}

/* line 39, ../scss/_materialize.scss */
h3 {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  color: #999999;
  font-family: "OpenSans-Regular";
}

/* line 47, ../scss/_materialize.scss */
.detail {
  color: #777;
  padding: 20px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}

/* line 54, ../scss/_materialize.scss */
.img-wrapper {
  padding: 0;
  position: relative;
}

/* line 69, ../scss/_materialize.scss */
.img-wrapper img {
  width: 50%;
  margin: 0;
  margin-top: 20px;
}

/* line 75, ../scss/_materialize.scss */
.button-wrapper {
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  right: 20px;
  bottom: 20px;
}

/* line 99, ../scss/_materialize.scss */
button {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
  z-index: 9;
  position: relative;
}

/* line 110, ../scss/_materialize.scss */
.main-button {
  background: #ff2670;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  color: #fff;
}

/* line 118, ../scss/_materialize.scss */
.ripple {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 50%;
  z-index: -9;
  background: transparent;
  border: 1px solid #ff2670;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  opacity: 1;
}

/* line 136, ../scss/_materialize.scss */
.rippling {
  -webkit-animation: .3s rippling 1;
  animation: .3s rippling 1;
  -moz-animation: .3s rippling 1;
}

@-webkit-keyframes rippling {
  25% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}
@-moz-keyframes rippling {
  25% {
    -moz-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    -moz-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes rippling {
  25% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
/* line 179, ../scss/_materialize.scss */
.layer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  background: #ff2670;
  border-radius: 50%;
  z-index: -99;
  pointer-events: none;
}

/* line 192, ../scss/_materialize.scss */
.button-wrapper.clicked {
  -webkit-transform: rotate(90deg) translateY(-96px);
  -ms-transform: rotate(90deg) translateY(-96px);
  transform: rotate(90deg) translateY(-96px);
  right: 0;
  bottom: 0;
  -webkit-transition: .3s all ease .6s;
  transition: .3s all ease .6s;
}

/* line 202, ../scss/_materialize.scss */
.button-wrapper.clicked .main-button {
  opacity: 0;
  -webkit-transition: .3s all ease .3s;
  transition: .3s all ease .3s;
}

/* line 208, ../scss/_materialize.scss */
.button-wrapper.clicked .layer {
  -webkit-transform: scale(100);
  -ms-transform: scale(100);
  transform: scale(100);
  -webkit-transition: 2.25s all ease .9s;
  transition: 2.25s all ease .9s;
}

/* line 216, ../scss/_materialize.scss */
.layered-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
}

/* line 237, ../scss/_materialize.scss */
.layered-content.active {
  opacity: 1;
}

/* line 241, ../scss/_materialize.scss */
.close-button {
  background: white;
  position: absolute;
  right: 20px;
  top: 20px;
  color: #ff2670;
}

/* line 249, ../scss/_materialize.scss */
.layered-content.active .close-button {
  -webkit-animation: .5s bounceIn;
  animation: .5s bounceIn;
}

/* line 254, ../scss/_materialize.scss */
.content h3 {
  color: #fff;
}

/* line 258, ../scss/_materialize.scss */
.content p {
  color: #fff;
  font-weight: 300;
  text-align: justify;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  margin: 30px;
}

/* line 267, ../scss/_materialize.scss */
.content p a {
  font-size: 12px;
  background: white;
  padding: 2.5px 5px;
  color: #ff2670;
  text-decoration: none;
  border-radius: 50px;
  display: inline-block;
  margin-left: 1.5px;
}

/* line 279, ../scss/_materialize.scss */
.content img,
.content p {
  opacity: 0;
  position: relative;
  top: -7.5px;
}

/* line 286, ../scss/_materialize.scss */
.layered-content.active .content img {
  opacity: 1;
  top: 0;
  -webkit-transition: .5s all ease .5s;
  transition: .5s all ease .5s;
}

/* line 293, ../scss/_materialize.scss */
.layered-content.active .content p {
  opacity: 1;
  top: 0;
  -webkit-transition: .5s all ease 1s;
  transition: .5s all ease 1s;
}

/* line 1, ../scss/_owl-carousel.scss */
#owl-demo .owl-item div {
  padding: 5px;
}

/* line 4, ../scss/_owl-carousel.scss */
#owl-demo .owl-item img {
  display: block;
  width: 100%;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
