/* line 3, ../scss/design.scss */
.banner-wrapper1 {
  background-image: url("../images/img51.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #e11111;
}

/* line 12, ../scss/design.scss */
.job-title {
  color: #fff;
}
/* line 14, ../scss/design.scss */
.job-title h1 {
  font-family: "open-sans-SemiboldItalic";
  font-weight: 100;
  font-size: 50px !important;
  margin: 0;
}
/* line 20, ../scss/design.scss */
.job-title h3 {
  font-family: 'open sans';
  font-weight: 100;
  font-size: 20px !important;
  margin: 0;
  position: relative;
}

/* line 29, ../scss/design.scss */
.desc-caption {
  color: #222222;
  font-family: 'open sans';
  font-weight: 100;
  margin: 20%;
}

/* line 36, ../scss/design.scss */
.description {
  margin: 10% 5% 10%;
}
/* line 38, ../scss/design.scss */
.description .desc-image-left {
  width: 15%;
  float: left;
}
/* line 42, ../scss/design.scss */
.description .desc-image-right {
  width: 15%;
  margin: 10% -56px;
  float: right;
  position: absolute;
}
/* line 48, ../scss/design.scss */
.description .desc-right {
  float: right;
  width: 50%;
  margin: 25% -10%;
  font-family: 'open sans';
}
/* line 53, ../scss/design.scss */
.description .desc-right h4 {
  font-size: 30px;
  font-weight: 600;
  color: #e2112e;
  margin: 20px 0;
}
/* line 59, ../scss/design.scss */
.description .desc-right p {
  font-family: 'open sans';
  font-size: 15px;
  line-height: 2em;
  color: #999999;
  position: relative;
  width: 90%;
}
/* line 67, ../scss/design.scss */
.description .desc-right span {
  float: left;
  font-size: 114px;
  font-weight: 100;
  color: #ebebeb;
  font-family: 'open sans';
  margin: -108px 0px -9px;
}

/* line 78, ../scss/design.scss */
.desc-left {
  float: left;
  width: 50%;
  margin: 10% auto;
  font-family: 'open sans';
}
/* line 83, ../scss/design.scss */
.desc-left h4 {
  font-size: 30px;
  font-weight: 600;
  color: #464646;
  margin: 20px 0;
  text-transform: uppercase;
}
/* line 90, ../scss/design.scss */
.desc-left h5 {
  text-transform: uppercase;
}
/* line 93, ../scss/design.scss */
.desc-left p {
  font-family: 'open sans';
  font-size: 15px;
  line-height: 2em;
  color: #999999;
  position: relative;
  width: 90%;
}
/* line 101, ../scss/design.scss */
.desc-left span {
  float: left;
  font-size: 114px;
  font-weight: 100;
  color: #ebebeb;
  font-family: 'open sans';
  margin: -108px 0px -9px;
}

/* line 111, ../scss/design.scss */
.design-divider {
  margin: 10% auto;
  border-bottom: thick dashed #e1e1e1;
  border-bottom-width: 3px;
}

/* line 117, ../scss/design.scss */
.hire {
  color: #d0122c;
  font-size: 80px;
  font-weight: 600;
  font-family: 'open sans';
  border-bottom: solid 5px #d0122c;
}
