.counter-text {
    color: #333;
    font-family: $OpenSans-Light;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 2px;
        margin: 10% 0;
    @include mobile {
        margin: 30% 0;
    }
   
    .number {
        font-size: 40px;
        font-family: $OpenSans-Bold;
        @include mobile {
            font-size: 1em;
        }
    }
    .counter-name {
        font-size: 1em;
    }
}
