.counter-text {
	color: #fff;
    margin: 10em;
   font-family:$OpenSans-Light;
    font-weight:100;
    text-transform:uppercase;
    letter-spacing: 2px;

    .number {
    	font-size:40px;
    	font-family:$OpenSans-Bold;
    }
}
