.banner-wrapper {
    .nav-toggle {
        position: relative;
        float: right;
        padding: 9px 10px;
        margin-top: 8px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-color: transparent;
        background-image: none;
        border: none;
        z-index: 9;
    }
    .navbar-fixed-top {
        @include mobile {
            padding: 40px 10px;
        }
    }
    .navbar {
        padding-top: 80px;
    }
    .navbar-brand {
        background: url("../images/bat1.png") no-repeat;
        background-size: cover;
        @include mobile {
            background: url("../images/bat-logo.png") no-repeat;
            background-size: cover;
            width: 128px;
            height: 35px;
            margin-left: 15px;
            margin-top: 15px;
        }
        @include desktop {
            background: none;
        }
    }
    .navbar-items {
        ul {
            list-style-type: none;
            li {
                display: inline!important;
                margin: 0 50px;
                color: #222;
            }
        }
    }
    .icon-bar {
        a {
            display: block;
            img {
                @include mobile {
                    width: 35px;
                    height: auto;
                    margin-top: 15px;
                }
            }
        }
    }
    .affix {
        padding-top: 20px;
        overflow: hidden;
        color: #000;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        .icon-bar {
            display: none;
        }
        @include mobile {
            padding: 0 10px;
            background: #fff;
        }
        a {
            display: block;
            width: 20px;
            height: 20px;
            margin-bottom: 10px;
            &.navbar-brand {
                background: url("../images/bat1.png") no-repeat;
                background-size: cover;
                @include mobile {
                    background: url("../images/bat-logo-black.png") no-repeat;
                    background-size: cover;
                    width: 113px;
                    height: 11px;
                }
                @include desktop {
                    background: none;
                }
            }
        }
        .bar {
            background-color: #2c2c33;
            ;
        }
    }
    .inner-content {
        .vertical-wrap {
            display: table;
            height: 100vh;
            .vertical-content {
                display: table-cell;
                vertical-align: middle;
                .header-text {
                    color: #fff;
                    font-family: $OpenSans-Light;
                    font-weight: 100;
                    @include mobile {
                        width: 100%;
                        text-align: center;

                    }
                    h1 {
                        font-size: 45px;
                        font-weight: 100;
                        @include mobile {
                            font-size: 1.75em;
                            line-height: 1.5em;
                            br{
                                display: none;
                            }
                        }
                    }
                    p {
                        margin-top: 15px;
                        font-size: 20px;
                            color: #999;
                        @include mobile {
                            font-size: .75em;
                        }
                    }
                    a {
                        &.hire-link {
                            color: #fff;
                            border-bottom: #fff solid 1px;
                            text-decoration: none;
                        }
                        &.hover {
                            text-decoration: none;
                        }
                    }
                    .header-icons {
                            margin-top: 20px;
                        img {
                            display: inline;
                            width: 50px;
                            background: rgba(226, 17, 46, .4);
                            margin: 1px;
                            padding: 10px;
                            border-radius: 10px;
                            border-bottom: none;
                        }
                    }
                }
            }
        }
        .btn-arrow {
            margin-bottom: 430px;
            //background: url("../images/arrow.png") no-repeat;
            width: 39px;
            height: 39px;
        }
        .header-logo {
            width: 200px;
        }
    }
}

.overlay {
    content: " ";
    position: absolute;
    height: 100vh;
    width: auto;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0.9;
    z-index: -1;
    mix-blend-mode: unset;
    background: rgba(0, 0, 0, 0.9)
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
