.banner-wrapper {
    .icon-bar {
        display: flex;
        width: 36px;
        height: 1px;
        margin-top: 9px;
        background: #fff;
    }
    .nav-toggle {
        position: relative;
        float: right;
        padding: 9px 10px;
        margin-top: 8px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-color: transparent;
        background-image: none;
        border: none;
        z-index: 9;
    }
    .navbar {
        padding-top: 80px;
        a {
            display: block;
            width: 150px;
            height: 25px;
        }
    }
    .navbar-items {
        ul {
            list-style-type: none;
            li {
                display: inline!important;
                margin: 0 50px;
                color: #222;
            }
        }
    }
    .affix {
        padding-top: 20px;
        overflow: hidden;
        //background: #f9f9f9;
        color: #000;
        @include transition( padding .2s ease-in-out);
        a {
            display: block;
            width: 200px;
            height: 55px;
            margin-bottom: 10px;
            &.navbar-brand {
                background: url("../images/bat1.png") no-repeat;
                background-size: cover;
                // .hambuger-style{
                //   &.a {
                //      background: rgba(255, 255, 255, 0);
                //      border-bottom: 1px solid;
                //      color: #fff;
                //      line-height: 1.4;
                //      padding: .25em;
                //      text-decoration: none;
                //      &:hover {
                //          background: rgba(255, 255, 255, 1);
                //          color: red;
                //      }
                //  }
                // }
                //button styles
                //default button
                // .btn {
                //     color: #fff;
                //     cursor: pointer;
                //     display: block;
                //     font-size: 16px;
                //     font-weight: 400;
                //     line-height: 45px;
                //     margin: 0 auto 2em;
                //     max-width: 160px;
                //     position: relative;
                //     text-decoration: none;
                //     text-transform: uppercase;
                //     vertical-align: middle;
                //     width: 100%;
                //     @media(min-width: 400px) {
                //         display: inline-block;
                //         margin-right: 2.5em;
                //         &:nth-of-type(even) {
                //             margin-right: 0;
                //         }
                //     }
                //     @media(min-width: 600px) {
                //         &:nth-of-type(even) {
                //             margin-right: 2.5em;
                //         }
                //         &:nth-of-type(5) {
                //             margin-right: 0;
                //         }
                //     }
                //     &:hover {
                //         text-decoration: none;
                //     }
                // }
                /////////////////////////////////
                //button one
                ///////////////////////////////
                // .btn-1 {
                //     background: (255, 0, 0, 1.5%);
                //     font-weight: 100;
                //     svg {
                //         height: 45px;
                //         left: 0;
                //         position: absolute;
                //         top: 0;
                //         width: 100%;
                //     }
                //     rect {
                //         fill: none;
                //         stroke-width: 2;
                //         stroke-dasharray: 422, 0;
                //     }
                // }
                // .btn-1:hover {
                //     background: rgba(255, 0, 0, 0);
                //     font-weight: 900;
                //     letter-spacing: 1px;
                //     rect {
                //         stroke: #fff;
                //         stroke-width: 5;
                //         stroke-dasharray: 15, 310;
                //         stroke-dashoffset: 48;
                //         transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
                //     }
                // }
            }
        }
        .bar {
            background-color: #000;
        }
    }
    .inner-content {
        .vertical-wrap {
            display: table;
            height: 100vh;
            .vertical-content {
                display: table-cell;
                vertical-align: middle;
                .header-text {
                    color: #fff;
                    font-family: $OpenSans-Light;
                    font-weight: 100;
                    width: 70%;
                    h1 {
                        font-size: 45px;
                        font-weight: 100;
                    }
                    p {
                        margin-top: 40px;
                        font-size: 20px;
                        width: 85%;
                    }
                    a {
                        &.hire-link {
                            color: #fff;
                            border-bottom: #fff solid 1px;
                            text-decoration: none;
                        }
                        &.hover {
                            text-decoration: none;
                        }
                    }
                    .header-icons {
                        a {
                            img {
                                display: inline;
                                width: 50px;
                                background: rgba(226, 17, 46, .4);
                                margin: 1px;
                                padding: 10px;
                                border-radius: 10px;
                                border-bottom: none;
                            }
                        }
                    }
                }
            }
        }
        .btn-arrow {
            margin-bottom: 430px;
            //background: url("../images/arrow.png") no-repeat;
            width: 39px;
            height: 39px;
        }
        .header-logo {
            width: 200px;
        }
    }
}
.overlay {
    content: " ";
    position: absolute;
    height: 100vh;
    width: auto;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0.9;
    z-index: -1;
    mix-blend-mode: unset;
    background: rgba(28,3,8,1);
background: -moz-linear-gradient(top, rgba(28,3,8,1) 0%, rgba(28,3,8,1) 15%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(28,3,8,1)), color-stop(15%, rgba(28,3,8,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(top, rgba(28,3,8,1) 0%, rgba(28,3,8,1) 15%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(28,3,8,1) 0%, rgba(28,3,8,1) 15%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(28,3,8,1) 0%, rgba(28,3,8,1) 15%, rgba(0,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(28,3,8,1) 0%, rgba(28,3,8,1) 15%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c0308', endColorstr='#000000', GradientType=0 );}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
