.owl-carousel {
    .owl-stage-outer {
        background: #fff;
        .owl-stage {
            height: 300px;

            .owl-item {
                .item {
                	
                    margin-top: 4%;
                    h5{
                    	font-family: $georgiaitalic;
                    	font-size: 16px;
                    	color: #888;

                    }
                    span{
                    	margin-top: 20px;
                    	a{	
                    	font-family: $OpenSans-Light;
                    	color: #d32f2f;
                    	text-decoration: none;
                    	margin-top: 20px;
                    	&:hover{
                    		text-decoration: none;
                    		color: #d32f2f;
                    	}
                    }
                    }
                }
            }
        }
    }
}
